.product {
  margin-bottom: 80px;
 .product__content{
   padding-top: 200px;
   font-family: 'Mulish';
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  .product__content_title{
    font-weight: 800;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
  }
  .product__content_author{
    margin-top: 23px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #6D7D8B;
    span {
      padding: 0 15px;
    }
  }
  .product__content_author div:first-child {
    padding-right: 20px;
  }
  .product__content_img {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product__content_text {
    width: 580px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #25313C;
  }
  .product__content_info {
    margin-top: 55px;
    display: flex;
    align-items: center;
    .product__content_info_name {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .product__content_info_name h3 {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #BBC8D4
    }
    .product__content_info_name span:first-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #1E2742
    }
    .product__content_info_name span:last-child {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #989898;
    }
  }
  .product__content_line hr {
    margin-top: 60px;
    border: 1px solid rgba(109, 125, 139, 0.22);
    transform: rotate(0.17deg)
  }
  .product__content_form {
    margin-top: 50px;
    .product__content_form_info {
      display: flex;
      flex-direction: column;
      .product__content_form_info_title{
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #6D7D8B;
      }
      .product__content_form_info_comments {
        margin-top: 12px;
        display: flex;
        align-items: flex-start;
        img {
          padding-right: 15px;
        }
      }
    }
  }
 }
}

.product .header__white {
  display: none;
}
.product .header__black {
  display: flex;
}

@media screen and (max-width: 991px) {
  .product {
    margin-bottom: 50px;
    .product__content{
      padding-top: 160px;
      .product__content_img {
        width: 100%;
      }
      .product__content_img img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product {
    margin-bottom: 30px;
    .product__content{
      padding-top: 100px;
      .product__content_title{
        font-size: 40px;
        line-height: 60px;
      }
      .product__content_author{
        margin-top: 15px;
        font-size: 12px;
        line-height: 17px;
        span {
          padding: 0 10px;
        }
      }
      .product__content_img {
        margin-top: 30px;
      }
      .product__content_text {
        width: 450px;
        margin-top: 30px;
        font-size: 15px;
        line-height: 24px;
      }
      .product__content_info {
        margin-top: 35px;
        .product__content_info_name h3 {
          font-size: 15px;
          line-height: 25px;
        }
        .product__content_info_name span:first-child {
          font-size: 12px;
          line-height: 20px;
        }
        .product__content_info_name span:last-child {
          font-size: 12px;
          line-height: 20px;
        }
      }
      .product__content_line hr {
        margin-top: 30px;
      }
      .product__content_form {
        margin-top: 30px;
        .product__content_form_info {
          .product__content_form_info_title{
            font-size: 20px;
            line-height: 30px;
          }
          .product__content_form_info_comments {
            margin-top: 10px;
            img {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .product {
    .product__content {
      .product__content_title{
        font-size: 30px;
        line-height: 50px;
      }
      .product__content_author{
        margin-top: 10px;
        font-size: 10px;
        line-height: 15px;
      }
      .product__content_author img {
        width: 35px;
      }
      .product__content_text {
        width: 350px;
        font-size: 13px;
        line-height: 22px;
      }
      .product__content_form {
        .product__content_form_info {
          .product__content_form_info_title{
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .product {
    .product__content {
      padding-top: 50px;
      .product__content_title{
        font-size: 20px;
        line-height: 30px;
      }
      .product__content_author{
        margin-top: 0px;
        font-size: 7px;
        line-height: 15px;
        span {
          padding: 0 5px;
        }
      }
      .product__content_author div:first-child {
        padding-right: 10px;
      }
      .product__content_author img {
        width: 25px;
      }
      .product__content_img {
        margin-top: 10px;
      }
      .product__content_text {
        width: 250px;
        font-size: 10px;
        line-height: 20px;
      }
      .product__content_info {
        margin-top: 20px;
        .product__content_info_name h3 {
          font-size: 12px;
          line-height: 20px;
        }
        .product__content_info_name span:first-child {
          font-size: 10px;
          line-height: 17px;
        }
        .product__content_info_name span:last-child {
          font-size: 10px;
          line-height: 17px;
        }
      }
      .product__content_line hr {
        margin-top: 10px;
      }
    }
  }
}