.slider .slick-list {
  overflow: hidden;
}

.slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-list .slick-track .slick-slide {
  margin: 20px;
  width: 366px;
}

.slider .slick-list .slick-track .slick-slide .slider-home {
  height: 380px;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content {
  padding: 0 20px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_coment {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}

.slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Work Sans';
}

.slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client div:last-child {
  padding-left: 20px;
}

@media screen and (max-width: 1054px) {
  .slider .slick-list .slick-track .slick-slide {
    margin: 15px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home {
    height: 330px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content {
    padding: 0 15px;
    height: 330px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_coment {
    font-size: 14px;
    line-height: 25px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client {
    font-size: 16px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client div:last-child {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .slider .slick-list .slick-track .slick-slide .slider-home {
    height: 270px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content {
    padding: 0 10px;
    height: 270px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_coment {
    font-size: 10px;
    line-height: 15px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client {
    font-size: 12px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client div:last-child {
    padding-left: 10px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client img {
    width: 35px;
  }
}

@media screen and (max-width: 767px) {
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_coment {
    font-size: 12px;
    line-height: 17px;
  }
  .slider .slick-list .slick-track .slick-slide .slider-home .slider-home__content .slider-home__content_client {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Slider.css.map */